.consultation {
	min-height: 680px;
	background: url(../img/bg/bg2.jpg) center (center/cover) no-repeat;
	padding: 100px 0 112px 0;
	&__descr {
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
		margin-top: 80px;
	}

}