@media (max-width: 992px) {
	
		.promo {
		padding: 20px;
		&__header {
			display: block;
			font-size: 30px;
			font-weight: 600;
		}
	}
	.button {
		&_main {
			width: 230px;
		}
	}
	.promo__link {
		font-size: 15px;
	}

	.advantages {
		padding: 40px 0 55px 0;
		margin: 10px;
		&__wrapper {
			padding: 20px;
		}
		h2.title {
			font-size: 28px;
			font-weight: 600;
		}
		&__item {
			margin: 5px;
		}
		&__descr {
			font-size: 13px;
			font-weight: 550;
		}
	}

	body .consultation {
		padding: 45px 20px 40px 50px;
		}
	h2.title_left {
		font-size: 24px;
      font-weight: 600;
	}

	body .catalog {
		padding: 0px 50px;
		padding-bottom: 50px;
	}

	body .feed {
		padding-bottom: 30px;
		padding: 20px;
	}
}

@media (max-width: 767px) {
	
}