@media (max-width: 992px) {
	.promo {
		padding: 30px;
		&__header {
			font-size: 36px;
		}
		&__subheader {
			font-size: 19px;
		}
	}
	.advantages {
		padding: 30px;
	}

	.consultation {
		display: flex;
		justify-content: center;
		&__descr {
			font-size: 20px!important;
		}
	}

	.title {
		&_left {
			font-size: 30px!important;
		}
	}

	.catalog {
		margin: 10%;
	}
}
@media (max-width: 768px) {
	.promo {
		padding: 30px;
		&__header {
			font-size: 35px;
			
		}
		&__subheader {
			font-size: 20px;
		}
	}

}