.promo {
	min-height: 650px;
	padding: 21px 0 93px 0;
	background: url(../img/main.jpg) center (center/cover) no-repeat;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}
	&__header {
		color: #ffffff;
		font-size: 42px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subheader {
		color: #ffffff;
		font-size: 24px;
		font-weight: 400;
		text-align: right;
		text-transform: uppercase;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		width: 450px;
		margin-top: 65px;
	}
	&__icon {
		width: 106px;
		text-align: center;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link {
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		margin-top: 18px;
		a {
			text-decoration: underline;
			text-transform: uppercase;
			color: #ffffff;
			
		}
	}
}